body { 
   background-color: #181818;
   background-image: url('../images/homing_pigeon.jpg'); 
   background-position: top center; 
   background-repeat: no-repeat; 
   background-size: 100% 100%;  
   background-position: center;
   background-attachment: fixed;
   font: small/1.3 Arial, Helvetica, sans-serif; 
}

#wrap {
   width: 80%;
   max-width: 1600px;
   margin: 0px auto;
   background-color: rgba(255,255,255,0.6); 
}

#header {
   width: 100%;
   position: fixed;
   top: 0;
   height: 100px;
   background: #181818; 
}

#header_container {
   width: 960px;
   margin: 0 auto;
}

#pigeonlogo{
   height: 60%;
   display: inline;
   position: relative;
   margin-top: 12px;
}

#logo{ 
   position: relative;
   width: 450px;
   height: 100px;
   padding-top: 20px;
   float: left;
   display: inline;  
   
} 

#nav{ 
   width: 450px;
   margin: 0 0 3em 0;
   padding-top: 70px;  
   display: inline;
}

#nav ul {
   list-style: none; 
   float: right; 
}

#nav li {
   float: right; 
}

#nav li a {
   display: block;
   padding: 8px 15px;
   text-decoration: none;
   font-weight: bold;
   color: #8DC6FF;
   border-right: 1px solid #ccc; 
}
#nav li a:hover {
   color: #c00;
   background-color: #fff; 
}
h1 {
   font-size: 1.5em;
   padding: 1em 8px;
   color: #E6BC69; 
   margin: 0; 
   width: 75%;
   font-style: italic;
   font-family: Arial;
   display: inline;
   top:0;
}
#content {
   padding: 0 50px 50px;
   min-height: 800px; 
}

/*----- for slider --------*/
#placeholderlayer{ 
   width: 100%;
}

#placeholderdiv {  
   width: 100%; 
   position: relative;
   top: 100px;
   display: table;
	margin: 0 auto;

}
/*--------------*/

#footer {
   width: 100%;
   height: 200px;
   background: #666666;
}
#footer_ul_container { 
   width: 960px;
   margin: 0 auto;
}

#footer_ul_container_links {
   width: 200px; 
   float: left;
   font-size: 15px;
   font-weight: bold;
}
#footer_newsletter {
   width: 310px;
   height: 100px;
   margin-top: 18px;
   float: left;
   background: #000;
   color: #fff;
}

p {
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.3em;
}

/*------------MISSION PAGE----------*/

.missiontitle{
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.75em;
   font-style: italic;
   font-weight: bold;
   font-size: 30pt;
   text-align: center;
   padding-top: 40px;
}

.missioncontent{
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.3em;
   font-size: 20pt;
   text-align: center;
}
 
/*------------MISSION PAGE END----------*/ 
 
/*-------------Causes & Impact---------------*/

#CIwrap{ 
   height: 800px;
   width: 100%; 
   margin: 0 auto; 
}

.CItextbox{ 
   height: 350px;
   width: 80%;
   margin: 0 auto; 
} 

.CItitle{
   font-size: 40px;
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.75em;
   font-style: italic;
   font-weight: bold;
   color: #333333;
   text-align: center;
}

.CIlist{
   font-size: 20px;
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.3em;
   color: #333;
   text-align: left;
}

/* --------------- For Help Page (page 4) --------------------*/

.titles h1 {
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.75em;
   color: black;
   background-color: initial;
}

.helpImageContainer img {
   border: 0;
   height: 100px;
   float: right;
   padding: 15px;
}

.text p {
   font-family: 'Droid Sans', sans-serif;
   font-size: 1.3em;
}

/*Start Emerson CSS for front Paes*/
      #home_video {
         width: 560px;
         height: 320px;
         float: left;
         margin: 10px 0 10px 0;
      }
      #home_call_to_action {
         width: 390px;
         height: 320px;
         display: inline-block;
         float: left;
         margin: 10px 0 10px 0;
         padding: 0 0 0 10px;
         color: #333;
         font-size: 16px;
         font-weight: bold;
         text-align: center;
      }
      #home_news {
         width: 540px;
         height: 340px;
         float: left;
         margin: 0 0 10px 0;
         color: #333;
         font-size: 14px;
         font-family: arial;
         padding-left: 20px;
         border-top: 1px solid #666;
      }

      #home_pigeon_party {
         width: 390px;
         height: 340px;
         display: inline-block;
         float: left;
         margin: 0 0 10px 0;
         padding: 0 0 0 10px;
         text-align: center;
         border-top: 1px solid #666;
         color: #333;
         font-size: 14px;
         font-family: arial;

      }

      #home_columns {
         width: 300px;
         min-height: 400px;
         float: left;
         margin-left: 10px;
         display: inline-block;
         text-align: center;
      }
      #mission {
         font-family: arial;
         color: #ff3300;
         font-size: 48px;
         vertical-align: top-left;
         margin: 0;
         text-shadow: 0px 1px 1px #000;
      }
      #mission_text {
         clear: both;
         width: 250px;
         font-family: arial;
         font-size: 18px;
         color: #333;
         text-shadow: 0px 1px 1px #999;
         text-align: center;
         margin-left: 65px;
         margin-top: 20px;
         margin-bottom: 20px;
      }
      #social_icons {
          text-align: center;
          width: 250px;
          margin-top: 10px;
          margin-left: 25px;
      }

      #social_icons li {
          display: inline;
          margin: 0;
          padding: 0;
          list-style-type: none;
      }

      #home_news_title {
         font-family: arial;
         font-size: 28px;
         color: #555;
         font-weight: bold;   

      }
      h2 {
         font-family: arial;
         font-size: 22px;
         color: #ff3300;
         font-weight: bold;

      }
      h3 {
         font-family: arial;
         font-size: 14px;
         color: #666;

      }
      #blog_title {
         font-size: 64px;
         margin-bottom: 10px;
         padding: 0;
      }

/*End Emerson CSS for front Paes*/


